---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { BLOG_DESCRIPTION, BLOG_TITLE } from "../../consts";

const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<BaseLayout title={BLOG_TITLE} description={BLOG_DESCRIPTION}>
    <section class="container-wrapper">
        <ul class="container">
            <h1 class="mb-4">🚧 Under development as of 11/10/2025</h1>
            {
                posts.map((post) => (
                    <li>
                        <a class="hover:underline" href={`/blog/${post.id}/`}>
                            {post.data.title} - {post.data.description}
                        </a>
                    </li>
                ))
            }
        </ul>
    </section>
</BaseLayout>
