---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/misc/FormattedDate.astro";
import BaseLayout from "./BaseLayout.astro";
import { BLOG_DESCRIPTION, BLOG_TITLE } from "../consts";

type Props = CollectionEntry<"blog">["data"];

const { title, pubDate, updatedDate } = Astro.props;
---

<BaseLayout title={BLOG_TITLE} description={BLOG_DESCRIPTION}>
    <article class="container-wrapper prose">
        <div class="container">
            <div>
                <div>
                    <FormattedDate date={pubDate} />
                    {
                        updatedDate && (
                            <div class="last-updated-on">
                                Last updated on <FormattedDate date={updatedDate} />
                            </div>
                        )
                    }
                </div>
                <h1>{title}</h1>
                <hr />
            </div>
            <slot />
        </div>
    </article>
</BaseLayout>
